.additem {
  width: 65%;
  height: 50px;
  margin: 20px;
  background-color: #5f87e7;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
.form-control-input {
  margin: auto;
  height: 30px;
  width: 90%;
  border: none;
  padding: 12px;
  border-radius: 17px;
}

.title {
  background-color: #5f87e7;
  padding: 10px;
  border-radius: 17px;
  color: wheat;
}
