body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.apptitle {
  margin: 1rem 0;
  color: #ff2968;
}

.todolist {
  padding-left: 0;
}

.todolist .todoitem {
  margin:12px;
  position: relative;
  margin-bottom: 0.50rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 8px;
}

.done {
  color: #999;
  text-decoration: line-through;
}


.form-check-label {
  width: 100%;
}

.form-check-input {
  margin-right: 1rem;
}

.container {
  display: block;
  color:#8B87B3;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius :12px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
body {
  background-color: #f1f2f3;
}
.btn-primary{
  width : 100%
}
.delete-icon{
  float: right;
  padding: 7px 20px;
}
.main{
  text-align: center;
}
.plusButton{
  width: 50px;
  height: 50px;
  color: #F857C3;
  float: right;
  margin: 20px;
}
.fa-icon-close{
  width: 30px;
  height: 30px;
  color: #F857C3;
  float: right;
}
.circleClose{
  padding-right: 20px;
  padding-bottom: 42px;
}


